*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 40px;
}

header {
    height: 100px;
    /*border: 1px solid green;*/
    text-align:center;
    line-height:100px;
    font-size: 22px;
}

main {
    height: 190px;
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main div {
    width: 100px;
    height: 100px;
    background: skyblue;
    text-align:center;
    line-height:100px;
    border-radius:20px;
    font-size: 16px;
}
main div:hover {
    color:red;
}

footer {
    height: 130px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.contact {
    /*border: 1px solid red;*/
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 30px;
}


.contact>span>img {
    width: 40px;
    filter: grayscale(100%);
}
.contact>span{
    padding: 4px;
}
.contact>span>img:hover{
    filter: grayscale(0);
}