* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #FF6700;
}

.box {
	width: 600px;
	height: 400px;
	border: 1px solid black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 32px;
}

header {
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 22px;
}

main {
	height: 190px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

main div {
	width: 100px;
	height: 100px;
	background:skyblue;
	text-align: center;
	line-height: 100px;
	border-radius: 20px;
	font-size: 16px;
}

main div:hover {
	color:#ff6700;
	cursor: pointer;
}

footer {
	height: 130px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.contact {
	display: flex;
	position: absolute;
	bottom: 22px;
	right: 30px;
}


img {
	width: 40px;
	filter: grayscale(100%);
}

.contact>div {
	padding: 6px;
}

.contact>div>a>img:hover {
	filter: grayscale(0);
   transform: scale(1.2);
	cursor: pointer;
}
